@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
  background: linear-gradient(
    176.21deg,
    rgba(0, 0, 0, 0.9) 38.48%,
    rgba(9, 7, 115, 0.9) 71.73%,
    rgba(116, 62, 186, 0.9) 90.9%
  );
}
.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  margin: 0 8px;
  vertical-align: middle;
}
